<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="DotNetNancy.Data" type ="DotNetNancy.Core.Data.Config.DataConfigurationSection,DotNetNancy.Core.Data"/>
  </configSections>
 
  <appSettings>
    <!--when being hosted by GSH and auth turned on, need to have these here for logging to work-->
    <add key="ApplicationId" value="your application id" />
    <add key="ApplicationPassword" value="your password" />
    <!-- use appSetting to configure MSMQ queue name -->
    <add key="queueName" value=".\private$\auditmessagequeue" />
    <!--<add key="queueName" value=".\badpath$\auditmessagequeue" />-->
    <add key="dbWriterQueueName" value=".\private$\auditdbwriterqueue" />
    <!--<add key="dbWriterQueueName" value=".\badpath$\auditdbwriterqueue" />-->
    <add key="errorQueueName" value=".\private$\auditdbwritererrors" />
    <!--<add key="errorQueueName" value=".\badpath$\auditdbwritererrors" />-->

    <add key="messageQueueThreshold" value="15000"/>
    <!--<add key="ShipperTxnTemplate" value="..\XMLtemplates\Northwind_ShipperTrn.xml" />
    <add key="OrderTxnTemplate" value="..\XMLtemplates\Northwind_OrderTrn.xml" />-->

    <add key="MinThreads" value="5" />
    <add key="MaxThreads" value="10" />
  </appSettings>

  
  <DotNetNancy.Data>
    <Connections>
      <Connection name="AuditDbConnection" default="true"
                 server="your server"
                  dbname="DotNetNancyCentralAuditStore"
                   username="GenericAuditUser" password="your password"
                 />
    </Connections>
  </DotNetNancy.Data>
  
  

  <system.web>
    <compilation debug="true" />
  </system.web>

</configuration>
