<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MasterConnectionString" value="Data Source=your server;Initial Catalog=master;Integrated Security=True" />
    <add key="PathToScripts" value="C:\Development\CFS\AuditServices\src\database_scripts" />
    <add key="DatabaseConnectionString" value="Data Source=your server;Initial Catalog=DotNetNancyCentralAuditStore;Integrated Security=True" />
  </appSettings>
       
</configuration>