<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="DotNetNancy.Data" type ="DotNetNancy.Core.Data.Config.DataConfigurationSection,DotNetNancy.Core.Data"/>
  </configSections>
 
  
  <appSettings>
    <!--when being hosted by GSH and auth turned on, need to have these here for logging to work-->
    <add key="ApplicationId" value="your application id" />
    <add key="ApplicationPassword" value="your password" />
    <!-- use appSetting to configure MSMQ queue name -->
    <add key="dbWriterQueueName" value=".\private$\auditdbwriterqueue" />
    <!--<add key="dbWriterQueueName" value=".\badpath$\auditdbwriterqueue" />-->

    <add key="errorQueueName" value=".\private$\auditdbwritererrors" />
    <!--<add key="errorQueueName" value=".\badpath$\auditdbwritererrors" />-->
    <add key="MinThreads" value="5" />
    <add key="MaxThreads" value="10" />

    <add key="messageQueueThreshold" value="15000" />
    <add key="QueueSizeCheckIntervalInMilliseconds" value="60000" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="defaultConnectionString" value="Data Source=your data source;Initial Catalog=DotNetNancyCentralAuditStore;User Id=GenericAuditUser;Password=your password"/>
    
  </appSettings>

 
  <DotNetNancy.Data>
    <Connections>
      <Connection name="AuditDbConnection" default="true"
                 server="your server"
                  dbname="DotNetNancyCentralAuditStore"
                   username="GenericAuditUser" password="your password"
                 />
    </Connections>
  </DotNetNancy.Data>


 
  
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>