<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="DotNetNancy.Data" type="DotNetNancy.Core.Data.Config.DataConfigurationSection,DotNetNancy.Core.Data" />
    <section name="DotNetNancy.ApplicationAuthentication" type="DotNetNancy.Services.Security.AuthenticationToken.Configuration.ApplicationAuthenticationClientConfigurationSection, DotNetNancy.Services.Security.AuthenticationToken"/>
  </configSections>

  <appSettings>
    <!-- use appSetting to configure MSMQ queue name -->
    <add key="dbWriterQueueName" value=".\private$\auditdbwriterqueue" />
    <add key="errorQueueName" value=".\private$\auditdbwritererrors" />

    <add key="messageQueueThreshold" value="15000" />
    <add key="QueueSizeCheckIntervalInMilliseconds" value="60000" />
    <add key="defaultConnectionString" value="Data Source=your data source;Initial Catalog=DotNetNancyCentralAuditStore;User Id=GenericAuditUser;Password=your password"/>
  
    
    <!--MO Credentials-->
    <add key="ApplicationId" value="your application id" />    
    <add key="ApplicationPassword" value="your password" />

  </appSettings>
 

  <DotNetNancy.Data>
    <Connections>
      <Connection name="AuditDbConnection" default="true"
                 server="your server"
                  dbname="DotNetNancyCentralAuditStore"
                   username="GenericAuditUser" password="your password"
                 />
    </Connections>
  </DotNetNancy.Data>
  
  <system.serviceModel>

    <extensions>
      <behaviorExtensions>
        <add name="tokenBehaviorExtension" type="DotNetNancy.Services.Security.AuthenticationToken.SoapServiceHandlerBehaviorExtensionElement, DotNetNancy.Services.Security.AuthenticationToken, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>

    <behaviors>
      <endpointBehaviors>
        <behavior name="AuthBehavior">
          <tokenBehaviorExtension/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAuditService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
     

      <!--esb endpoint pointing at services-->
     <endpoint address="http://yourbaseurl/services/AuditService"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuditService"
        contract="IAuditService" name="BasicHttpBinding_IAuditService" 
                behaviorConfiguration="AuthBehavior"/>

    </client>

  </system.serviceModel>
</configuration>